/* styles.css */
.accordion-item p {
    display: none;
    /* Torna os parágrafos invisíveis inicialmente */
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.accordion-item.active p {
    display: block;
    /* Mostra o parágrafo se a div estiver ativa */
}